
<h3>EDIT</h3>

<form ng-submit="editCtrl.save()">
    <div class="form-group">
        <label for="productname">Product Name</label>
        <input type="text" name="productname" id="productname" class="form-control" value="{{editCtrl.ToBeEdited.name}}" ng-model="editCtrl.ToBeEdited.name">
    </div>

    <div class="form-group">
        <label for="brandname">Brand</label>
        <input type="text" name="brandname" id="brandname" class="form-control" value="{{editCtrl.ToBeEdited.brand}}" ng-model="editCtrl.ToBeEdited.brand">
    </div>

    <div class="form-group">
        <button class="btn btn-success form-control" type="submit">Save</button>
    </div>
     <div ng-show="newCtrl.showStatus">
        <h3>This entry has been edited successfully.</h3>
                    </div>

</form>

  <div class="form-group">
        <button class="btn btn-success form-control" type="submit" ng-click="editCtrl.cx()">Cancel</button>
    </div>